/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* { dispaly: flex; flex-direction: row; align-items: center; background: deepskyblue;
                   height: 60px; padding: 10px; color: white; text-indent: 10px; font-size: 20px; } */

.shelter_header  {background-color: rgb(156, 30, 20); color: white; padding: 40px;  }
                  .shelterlink {float: left; width: 70%; }
                  .petlink {float: right; width: 20%;  }

.shelterpicture {float: center; padding: 10px;}
.shelterbody {float: right; width: 95%; color: gray; }

.update {float: right; width: 90%; color: white; padding: 30px; line-height: 25px;}
.new {float: right; width: 90%; color: white; padding: 30px; line-height: 25px;}

.sitebody {background-color: rgb(51, 51, 51); color: white;}

.petdetails {float: right; width: 70%;  height: 350px; }
.petimage {float: left; width: 30%; height: 350px;}
